<NavBar @active="about-me"/>

<main class="w-screen h-full flex items-center justify-center">
  <div class="flex flex-col mb-10">
    <span class="flex text-gray-400 text-base md:text-lg">
      Ahoy! I’m
    </span>
    <span class="text-primary text-3xl font-bold text-center md:text-6xl lg:text-7xl">
      Robin Philip Thomas
    </span>
    <div class="flex text-white text-center text-sm justify-between md:text-xl lg:text-2xl md:flex-row">
      <span>
        Web Developer
      </span>
      <span class="hidden md:block">|</span>
      <span class="hidden md:block">
        Ember.js Enthusiast
      </span>
      <span class="hidden md:block">|</span>
      <span>
        JavaScript Evangelist
      </span>
    </div>
    <div class="flex items-center justify-center mt-8 text-white md:mt-5">
      <a href="https://github.com/MalayaliRobz">
        {{svg-jar "github" class="mr-8 grow"}}
      </a>
      <a href="https://www.linkedin.com/in/robinpt/">
        {{svg-jar "linkedin" class="mr-8 grow"}}
      </a>
      <a href="https://twitter.com/Robie577">
        {{svg-jar "twitter" class="mr-8 grow"}}
      </a>
      <a href="mailto:robinphilipthomas@outlook.in" target="_blank">
        {{svg-jar "mail" class="mr-8 grow"}}
      </a>
      <a href="https://www.mylittletechlife.com/">
        {{svg-jar "book" class="grow"}}
      </a>
    </div>
  </div>
</main>